body{
    font-family: 'Special Elite', cursive;
    background: #e6c3e0;
}
.header_div {
    background: white;
    color: blue;
}
.header_div p {
    font-family: "Roboto", sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}

.main_div button{
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: #8d878c;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background: #f1f1f1;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px #9c9c9c;
}